<!DOCTYPE html>
<html lang="en">
<head>
	<title>Password Reset</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'ikfwebapp/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ikfwebapp/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <img src="{% static 'ikfwebapp/images/smesh.png' %}" alt="SMESH logo" id="logo">
            <span class="txt1 p-b-11" id="reset-password-text">
                We've emailed you instructions for setting your password. You should receive the email shortly! 
            </span>
            </div>
        </div>
    </div>           
	

	<div id="dropDownSelect1"></div>
  
  {% block footer_javascript %}
  {% block footer_javascript_site %}
<!--===============================================================================================-->
	<script src="{% static 'ikfwebapp/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ikfwebapp/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ikfwebapp/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'ikfwebapp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ikfwebapp/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ikfwebapp/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'ikfwebapp/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ikfwebapp/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'ikfwebapp/js/main.js' %}"></script>
  {% endblock footer_javascript_site %}
  {% block footer_javascript_section %}{% endblock footer_javascript_section %}
  {% block footer_javascript_page %}{% endblock footer_javascript_page %}
  {% endblock footer_javascript %}

</body>
</html>