<p>Hi {{first_name}}! </p>
<p>Thank you for signing up with <a href="https://smesh.me">SMESH</a>. You have just taken the first step into transforming your networking experience and the relationships you build.</p>
<p>Your very own personal smesh card is now being created and will be shipped to you soon, so do look out for that. </p>
<p>In the meantime, do feel free to experiment with our prototype! Should you have any run into any trouble, do refer to our website <a href="www.smesh.me/our-web-application">www.smesh.me/our-web-application</a>. For feedback or concerns, please send an email to <a href="hellosmesh@gmail.com">hellosmesh@gmail.com</a> and we will address your queries as soon as we can.</p>
<p>You can now start constructing your different profiles at <a href="www.app.smesh.com/profile">www.app.smesh.com/profile</a> and we hope you have an amazing new experience networking!</p>
<p></p>
<p>Best,</p>
<p>The SMESH Team</p>